body{
    text-align: center;
    background-color: black;
}
h1,h2{
    color: white;
}
.btn
{
    height:140px;
    width:140px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}

.btn-container
{
    display:flex;
    justify-content: center;
}
.yellow
{
    background-color: #f99b45;
}
.red
{
    background-color: #d95980;
}
.purple
{
    background-color: #819;
}
.green
{
    background-color: #63aac0;
}

.flash
{
    background-color: white;
}

.userFlash
{
    background-color: green;
}